<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="org.TestComponents.Listeners"></listener>
    </listeners>
    <test thread-count="5" verbose="2" name="Error Validations Test">
        <classes>
            <class name="org.tests.ErrorValidationsTest">
            </class>
            </classes>
    </test>
    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="org.tests.SubmitOrderTest">
            </class>
        </classes>
    </test>
</suite>